p {
  margin-bottom: 12px;
}
h1, h2, h3 {
  font-size: 400;
}
h1 {
  font-size: 36px;
  margin-bottom: 0;
}
h2 {
  font-size: 32px;
  border-bottom: 1px, gray;
  margin-bottom: 8px;
}
h2.header-title {
  font-size: 18px;
  border-bottom: none;
  margin-bottom: 10px;
}
#header {
  margin-bottom: 32px;
  display: inline-block;
}
#footer {
  margin-top: 64px;
  display: inline-block;
}
